<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<body>
	<div ng-app="comunicacionApp" ng-controller="comunicacionController" class="container">
	<h1>Contactos</h1>
			
		
		<br/>
		<div >
			<table border="1" class="table table-striped table-bordered" ng-init="cargar()">
				<thead><tr><th>Nombre</th><th>Email</th><th>Edad</th><th></th></tr></thead>
				<tbody><tr ng-repeat="r in contactos">
					<td>{{r.nombre}}</td>
					<td>{{r.email}}</td>
					<td>{{r.edad}}</td>
					<td><a href="#" ng-click="eliminar(r.idContacto)">Eliminar</a></td>
				</tr>
			</tbody>
			</table>
		</div>
		<br/>
		
	</div>
	
	<script>
		var app=angular.module("comunicacionApp",[]);
		app.controller("comunicacionController",function($scope,$http){
			$scope.contactos=[];	
			$scope.cargar=function(){			
				let url="http://localhost:8080/contactos";
				$http.get(url).then(function(res){
					$scope.contactos=res.data;			
				});
			}
			$scope.eliminar=function(id){
				
				let url="http://localhost:8080/contactos";
				$http({method:"DELETE",url:url+"/"+id}).then(function(res){
					$scope.cargar();			
				});
			}
		});
	
	</script>
	
	
</body>
</html>